@model ElectronicJournal.Models.Student

@{
    ViewData["Title"] = "Видалення студента";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете видалити студента?</h3>
<div>
    @*<h4>Студент</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Прізвище</p>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            <p>Ім'я</p>
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-default" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
