@model ElectronicJournal.Models.Student

@{
    ViewData["Title"] = "Деталі про студента";
}

<h2>Деталі</h2>

<div>
    @*<h4>Student</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Ім'я</p>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <p>Прізвище</p>
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
