@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Підтримка:</strong> <a href="mailto:kapitula_ak16@nuwm.edu.ua">kapitula_ak16@nuwm.edu.ua</a><br />
</address>
