@{
    ViewData["Title"] = "Електронний журнал";
}

<br />
<div>
    @if (User.IsInRole("Admin"))
    {
        <a href="/users/index"><h2>Користувачі</h2></a>
        <a href="/groups"><h2>Групи</h2></a>
        @*<a href="/groups"><h2>Групи</h2></a>*@
    }
    @if (User.IsInRole("GroupLeader") || User.IsInRole("Student"))
    {
        <a href="/students"><h2>Список групи</h2></a>
        <a href="/subjects"><h2>Список дисциплін</h2></a>
        <a href="/lessons/IndexPagging"><h2>Проведені пари</h2></a>
        <a href="/PaperViews/index"><h2>Переглянути тиждень (вигляд як в паперовому журналі)</h2></a>
    }
</div>