@*@model string

@{
    ViewData["Title"] = "Create";
}

<h2>Додати роль</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create">
    <div class="form-group">
        <label for="name">Нова роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Додати</button>
</form>*@

