@model ElectronicJournal.Models.Group

@{
    ViewData["Title"] = "Видалити";
}

<h2>Видалити групу</h2>

<h3>Ви впевнені, що хочете видалити групу?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва групи
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-default" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
