@model IEnumerable<ElectronicJournal.Models.Group>

@{
    ViewData["Title"] = "Групи";
}

<h2>Групи</h2>

<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    Назва групи
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.ID">Редагувати</a>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Додати групу</a>
</p>
