@model ElectronicJournal.Models.Week

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Week</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstDayWeek" class="control-label"></label>
                <input asp-for="FirstDayWeek" class="form-control" />
                <span asp-validation-for="FirstDayWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDayWeek" class="control-label"></label>
                <input asp-for="LastDayWeek" class="form-control" />
                <span asp-validation-for="LastDayWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
