@{
    ViewData["Title"] = "Підтвердження E-mail";
}

<h2>Підтвердження E-mail</h2><br />

<p>Дякую за підтвердження E-mail. Для того, щоб увійти в аккаунт, перейдіть за посиланням: <a asp-action="login">Увійти</a></p>

