
@{
    ViewData["Title"] = "Підтвердження E-mail";
}

<h2>Підтвердження E-mail</h2><br />

<p>E-mail, на який зареєстровано ваш аккаунт, не підтверджений. Посилання для підтвердження надіслано E-mail (вказаний при реєстрації)</p>
