@*@model ElectronicJournal.ViewModels.LoginViewModel*@
@{
    ViewData["Title"] = "Скидання паролю";
}

<h2>Скидання паролю</h2>

<form asp-controller="Account" asp-action="ForgotPassword" class="form-horizontal">
    <h4>Вкажіть свій E-mail</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
        <div class="col-md-8">
            <input class="form-control" name="Email" />
            @*<span asp-validation-for="Email" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <button type="submit" class="btn btn-default">Підтвердити</button>
        </div>
    </div>
</form>

