
@{
    ViewData["Title"] = "DataNotFound";
}
<br />
<h2>Потрібний тиждень не знайдено (відсутні дані)</h2>

@if (User.IsInRole("Admin") || User.IsInRole("GroupLeader"))
{
    <br /><br />
    <p>
        <a asp-action="Create"><h4>Додати нову пару</h4></a>
    </p>
}

